@import url("https://fonts.googleapis.com/css2?family=Poppins");

html,
body {
  font-family: "Poppins", sans-serif !important;
}

p {
  font-size: 14px;
}

h5 {
  font-size: 16px !important;
  font-weight: 700 !important;
}

h4 {
  font-size: 18px !important;
  font-weight: 700 !important;
}
